name: build

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"

      - name: Build
        run: go build -o tcptest.exe .

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: tcptest-windows-amd64
          path: tcptest.exe
